[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BBcor"]
	path = BBcor
	url = https://github.com/cran/BBcor
	shallow = true
	registered = true
[submodule "BGGM"]
	path = BGGM
	url = https://github.com/donaldrwilliams/bggm
	shallow = true
	registered = true
[submodule "GGMncv"]
	path = GGMncv
	url = https://github.com/donaldrwilliams/ggmncv
	shallow = true
	registered = true
[submodule "GGMnonreg"]
	path = GGMnonreg
	url = https://github.com/donaldrwilliams/ggmnonreg
	shallow = true
	registered = true
[submodule "IRCcheck"]
	path = IRCcheck
	url = https://github.com/donaldrwilliams/irccheck
	shallow = true
	registered = true
[submodule "vICC"]
	path = vICC
	url = https://github.com/donaldrwilliams/vicc
	shallow = true
	registered = true
