[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BBcor"]
	path = BBcor
	url = https://github.com/cran/BBcor
[submodule "BGGM"]
	path = BGGM
	url = https://github.com/donaldrwilliams/bggm
[submodule "GGMncv"]
	path = GGMncv
	url = https://github.com/donaldrwilliams/ggmncv
[submodule "GGMnonreg"]
	path = GGMnonreg
	url = https://github.com/donaldrwilliams/ggmnonreg
[submodule "IRCcheck"]
	path = IRCcheck
	url = https://github.com/donaldrwilliams/irccheck
[submodule "vICC"]
	path = vICC
	url = https://github.com/donaldrwilliams/vicc
